@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f8f208;
  --primary-color-dark: #ee9821;
  --secondary-color: #04091d;
  --secondary-color-light: #0f1221;
  --secondary-color-dark: #03060f;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(
    to right,
    var(--primary-color-dark),
    var(--primary-color)
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  color: white;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

/* navbar */
.navbar__div {
  height: 100px;
  width: 100%;
  background-color: var(--secondary-color-dark);
  justify-content: space-around;
  align-items: center;
  color: white;
}
.navbar__div ul {
  gap: 10px;
  list-style: none;
  align-items: center;
}
.navbar__div ul li:hover {
  cursor: pointer;
  color: var(--primary-color-dark);
  transition: color 0.3s ease-out;
}

.btnn {
  padding: 0.5rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--secondary-color);
  background-image: var(--gradient);
  border-radius: 5rem;
  cursor: pointer;
}
.hmburger {
  display: none !important;
  font-size: 20px;
}

/* hero */
.hero {
  background-color: var(--secondary-color-dark);
}

.hero h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.hero h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.hero p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

/* about */
.about {
  background-color: var(--secondary-color);
}
.about h4 {
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-light);
  background-color: var(--secondary-color-light);
  border-left: 2px solid var(--primary-color-dark);
  border-radius: 5px;
}
.about__image img {
  max-width: 455px;
  margin: auto;
}
.banners {
  background-color: var(--secondary-color);
}

.banner__card {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color-light);
  border-radius: 8px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
  max-width: 320px;
  min-height: 200px;
}

.banner__card:hover {
  border-color: var(--primary-color-dark);
}

.banner__card span {
  padding: 6px 12px;
  font-size: 1.5rem;
  background-color: var(--secondary-color-dark);
  border-radius: 100%;
  transition: 0.3s;
}

.banner__card h4 {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

.banner__card p {
  color: var(--text-light);
  text-align: center;
  font-size: 0.9rem;
}

/* projects */
.project__container {
  background-color: var(--secondary-color);
  color: white;
  padding-bottom: 50px;
}
.project__heading {
  margin-bottom: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.project__btn {
  color: var(--white);
  background-image: none;
  background-color: transparent;
}

.mixitup-control-active {
  color: var(--secondary-color);
  background-image: var(--gradient);
}

.project__grid {
  display: grid;
  gap: 1rem;
}

.project__card img {
  border-radius: 5px;
  cursor: pointer;
  height: 250px;
  width: 420px;
}

/* footer */
footer {
  background-color: var(--secondary-color-dark);
  color: white;
  padding: 50px !important;
}
footer li {
  margin-bottom: 10px;
}
footer li a {
  text-decoration: none;
  color: white !important;
  cursor: pointer;
}
footer ul li a:hover {
  cursor: pointer;
  color: var(--primary-color-dark) !important;
  transition: color 0.3s ease-out;
}

footer ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .banner__card {
    padding: 1rem;
    max-width: 100%;
  }
  .about__image img {
    max-width: 400px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
  }
  .navbar__div li {
    display: none;
  }
  .hmburger {
    display: inline-block !important;
  }
  footer {
    text-align: center;
  }
}

@media (width > 1024px) {
  .project__grid {
    gap: 2rem;
  }
}

@media (width > 480px) {
  .project__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  .project__header {
    flex-direction: row;
  }

  .project__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 1024px) {
  .project__grid {
    gap: 2rem;
  }
}
@media (max-width: 376px) {
  .about__image img {
    max-width: 295px;
  }
}
